body {
    background: black;
    color: yellowgreen;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

h1 {
    color: red;
    font-size: 36px;
    margin-left: 10%;
}

ul  {
    color: green;
}

li {
    color: orange
}